* {
	box-sizing: border-box;
	font-family: Helvetica;
}

.navbar-default {
	background-color: lightgray;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
	background-color: #fce29e;
}

.navbar-collapse {
	border-top: 0;
}

#main-content {
	width: 100%;
	margin-bottom: 40px;
}

#Chicken {
	background-color: lightgray;
	text-align: center;
}

#main-content h2 {
	font-size: 2.9em;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 50px;
}

#main-content h3 {
	font-size: 1.6em;
	font-weight: bold;
	margin-bottom: 1em;
}

section {
	margin: 20px;
}

/* Small devices */

@media (max-width: 767px) {
	/* .col-xs-4 {
		float: left;
	} */

	.col-xs-4 {
		width: 100%;
	}
}

/* medium devices */

@media (min-width: 768px) and (max-width: 991px) {
	.col-sm-6,
	.col-sm-6 {
		width: 100%;
	}
}

/*large devices*/

@media (min-width: 992px) {
	.col-md-4 {
		width: 100%;
	}
}
